section {
  position: relative;
  margin: 30px 0;
}

.container-max-width {
    max-width: 1200px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  section {
    position: relative;
    margin: 0;
  }

  .content-section {
    margin-bottom: 100px;
  }

}

h2 {
  font-family: 'roboto-bold';
  font-size: 20px;
}

h1 {
  font-family: 'roboto-bold';
}

article {
  margin: 20px 0;
}

p {
  font-size: 16px;
}


a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.author-test {
  font-family: 'roboto-bold';
}

/* ==========================================================================
   HERO styles
   ========================================================================== */


section#home-hero{
    height: 60vh;
    min-height: 468px;
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: cover;
    overflow: hidden;
    margin-top: 0;
}



#home-hero .home-hero-holder{
    height: 60vh;
    width: 100%;
    min-height: 468px;
    display: block;
    position: absolute;
    top: 0;
    left:0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*background-color: grey;
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    transform: translate(0px,0);
    will-change: transform;*/
}

.mobile-hero-copy-holder {
  height: 60vh;
  width: 87%;
  min-height: 487px;
  display: block;
  position: relative;
}

.mobile-hero-copy {
  position: absolute;
  bottom: 80px;
  margin-right: auto;
  margin-left: auto;
}

.mobile-hero-copy h1 {
  font-size: 43px;
  color: #ffffff;
  line-height: 1.2;

}
.heroBtn {
  display: none;
}

section#quote-hero{

height: 50vh;
min-height: 350px;
background-repeat: no-repeat;
background-position: 50% center;
background-size: cover;
overflow: hidden;
margin-top: 0;
}


#quote-hero .quote-hero-holder{
  height: 50vh;
  width: 100%;
  min-height: 350px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


section.staff-hero{
    height: 42vh;
    min-height: 390px;
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: cover;
    overflow: hidden;
    margin-top: 0;
}


.staff-hero .staff-hero-holder{
    height: 42vh;
    width: 100%;
    min-height: 390px;
    display: block;
    position: absolute;
    top: 0;
    left:0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}


@media only screen and (min-width: 768px) {

  section#home-hero, section.staff-hero {
      margin-top: 72px;
  }

  .touch section#home-hero, section.staff-hero {
      margin-top: 0;
  }

  section#quote-hero {
    margin-top: 70px;
  }

  .touch section#quote-hero {
    margin-top: 0;
  }

  .mobile-hero-copy-holder {
    width: 100%;
  }

  .mobile-hero-copy {
      bottom: 61px;
  }
  .mobile-hero-copy h1 {
    font-size: 45px;
    line-height: 1.2;

  }

  .heroBtn {
    color: #ffffff;
    display: block;
    font-size: 15px;
    width: 162px;
    position: absolute;
    bottom:37px;
    background-color: #3397b9;
    padding: 10px 1px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: 1px solid #3397b9;
  }

  .heroBtn:hover {
    background-color: #ffffff;
    color: #3397b9;
    border: 1px solid #3397b9;
  }
}

@media only screen and (min-width: 992px) {

  .mobile-hero-copy-holder {
    width: 70%;
  }

}

@media only screen and (min-width: 1200px) {

  .mobile-hero-copy-holder {
    width: 54%;
  }

}


/* ==========================================================================
   TEXT BOX styles
   ========================================================================== */

.intro-container, .testimonials-intro-container, .about-readmore-container, .about-intro-container, .intro-container-middle, .services-container-middle, .video-text-container, .employ-container, .staff-container-middle, .global-container-middle, .error-contatiner {
  padding-bottom: 20px;
  font-size: 16px;
}

.intro-header {
  font-family: 'roboto-medium';
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  margin: 30px 0 15px 0;
}

.intro-quote-container {
  display: none;
}

.call-quote-header {
  font-size: 25px;
  font-weight: bolder;
  margin: 5px 0;
}

@media only screen and (min-width: 768px) {
  .intro-container, .testimonials-intro-container {
      padding: 50px 50px 50px 0;
      min-height: 438px;
  }

  .about-readmore-container {
    padding: 50px 50px 50px 0;
    min-height: 346px;
  }

  .employ-container {
    padding: 50px 50px 50px 0;
    min-height: 365px;
  }

  .about-intro-container {
    margin-top: 92px;
    padding: 50px 50px 50px 0;
    min-height: 500px;
  }

  .error-contatiner {
    margin-top: 92px;
    padding: 50px 50px 50px 0;
    min-height: 383px;
  }

  .intro-container-middle {
    padding: 100px 10px 100px 0 ;
    min-height: 538px;
  }
  .staff-container-middle {
    padding: 100px 10px 100px 0;
    min-height: 549px;
  }

  .global-container-middle {
    padding: 100px 10px 100px 0;
    min-height: 515px;
  }

  .services-container-middle {
    padding: 100px 10px 100px 0 ;
    min-height: 700px;
  }

  .video-text-container {
    padding: 50px 0 50px 0;
    min-height: 348px;
  }

  .intro-header {
    margin: 20px 0;
  }

  .intro-quote-container {
    display: block;
  }
  .intro-quote {
    font-family: 'roboto-bold';
    display: none;
    font-size:25px;
    color: #3397b9;
    background-color: #ffffff;
    font-weight: bolder;
    padding: 25px 0;
    /* padding-right: 100px; */
    width: 342px;
    position: relative;
    top: 250px;
    line-height: 1.2;
  }
  .gunter {
    font-family: 'roboto-regular';
    font-size: 16px;
    color:#000000;
    text-transform: uppercase;
    float: right;
    padding: 0 50px 20px 0;
    background-color: #ffffff;
    position: relative;
    right: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .intro-container, .testimonials-intro-container, .about-readmore-container, .about-intro-container, .error-contatiner  {
      padding: 50px 50px 50px 50px;

  }

  .intro-container {
    min-height: 408px;
  }

  .employ-container {
    padding: 50px 100px 50px 0;
  }

  .intro-container-middle {
    padding: 75px 10px 75px 0 ;
    min-height: 467px;
  }

  .services-container-middle {
    padding: 75px 100px 75px 0 ;
    min-height: 467px;
  }

  .global-container-middle {
    min-height: 376px;
  }


  .staff-container-middle {
    padding: 75px 10px 75px 0;
    min-height: 417px;
  }

  .services-container-middle {
    min-height: 500px;
  }

  .video-text-container {
    padding: 75px 0 75px 50px;
    min-height: 387px;
  }

  .intro-quote {
    display:block;
    font-size: 25px;
    width: 409px;
    position: relative;
    top: 100px;
  }
  .gunter {

    padding: 10px 60px 25px 0;
    position: relative;
    right: 50px;
  }
}
.fixed-head {
  position: fixed;
}
@media only screen and (min-width: 1200px) {

  .intro-container-middle {
    padding: 75px 10px 75px 0 ;
    min-height: 429px;
  }
  .intro-container, .about-intro-container, .error-contatiner  {
    padding: 75px 25px 75px 121px;

  }

  .employ-container {
    padding: 75px 100px 75px 0;
    min-height: 419px;
  }

  .about-readmore-container {
    padding: 75px 25px 75px 121px;
    min-height: 422px;
  }

  .testimonials-intro-container {
    padding: 75px 25px 75px 121px;
    min-height: 515px;
  }

  .video-text-container {
    padding: 75px 25px 75px 121px;
    min-height: 365px;
  }

  .intro-quote {
    font-size: 35px;
    width: 500px;
    top: 99px;


  }
  .gunter {

    padding-right: 50px;
    left: 9px;
  }
}


/* ==========================================================================
  BUTTON styles
   ========================================================================== */

.btn-global, .largeBtns, .surveyBtn {
  color: #ffffff;
  display: block;
  font-size: 22px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

a.btn-global:hover {
  /*color: #ffffff;*/
}

.servicesBtn, .jobsBtn, .talkBtn, .languageBtn, .ourworkBtn, .storyBtn {
  background-color: #3397b9;
    border: 1px solid #3397b9;
}

.servicesBtn:hover, .jobsBtn:hover, .talkBtn:hover, .languageBtn:hover, .ourworkBtn:hover, .storyBtn:hover {
  background-color: #ffffff;
  color: #3397b9;
  border: 1px solid #3397b9;
}

.workBtn, .learnBtn, .readBtn {
  background-color: #494949;
  border: 1px solid #494949;
}

.workBtn:hover, .learnBtn:hover, .readBtn:hover {
  background-color: #ffffff;
  color: #494949;
  border: 1px solid #494949;
}

.aboutBtn, .seemoreBtn, .consultingBtn, .surveyBtn {
  background-color: #d95936;
  border: 1px solid #d95936;
}

.aboutBtn:hover, .seemoreBtn:hover, .consultingBtn:hover, .surveyBtn:hover {
  background-color: #ffffff;
  color: #d95936;
  border: 1px solid #d95936;
}

.staffBtn {
  border: 1px solid #3397b9;
  background: #ffffff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  color: #ffffff;
  display: block;
  font-size: 22px;
  letter-spacing: 0.2em;
  margin: 10px 0;
  text-transform: uppercase;
  background: #3397b9;
}

.staffBtn:hover, .staffBtn.current {
  background: #ffffff;
  color: #3397b9;
}


@media only screen and (min-width: 768px) {

  .staffBtn {

    padding: 10px 0;
    text-align: center;
    width: 100%;
    color: #ffffff;
    display: block;
    font-size: 18px;
    letter-spacing: 0.2em;
  }


  .btn-global {
    font-size: 15px;
    width: 165px;
    padding: 5px;
    position: relative;
    text-decoration: none;
  }

  .surveyBtn {
    font-size: 15px;
    width: 200px;
    padding: 5px;
    position: relative;
    text-decoration: none;
  }
  .largeBtns {
    font-size: 15px;
    width: 260px;
    padding: 6px;
    position: relative;
  }

  .servicesBtn, .aboutBtn, .jobsBtn, .learnBtn, .languageBtn, .consultingBtn, .readBtn,  .ourworkBtn, .storyBtn, .surveyBtn {
  top: 15px;
  }

  .workBtn {
    top: 124px;
  }

  .seemoreBtn {
    top:165px;
  }

  .talkBtn {
    top: 115px;
  }

}

@media only screen and (min-width: 992px) {
  .servicesBtn, .aboutBtn, .readBtn, .surveyBtn {
    left: 50px;
  }

  .workBtn {
    top: 16px;

  }

  .seemoreBtn, .talkBtn {
    top:15px;
  }

  .ourworkBtn {
    left:241px;
  }
}

@media only screen and (min-width: 1200px) {
  .servicesBtn, .aboutBtn, .readBtn, .surveyBtn {
    left: 119px;
  }
  .ourworkBtn {
    left:292px;
  }

}

.hide-img {
  display: none;
}

.hide-work-img {
  display: none;
}

.full-hover, .global-hover  {
  position: relative;
}

.overlay {
  display: none;
}

.full-hover:hover .overlay, .global-hover:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  line-height: 1.2;
}

.sub-overlay-text {
  font-size: 14px;
}


@media only screen and (min-width: 768px) {
  .hide-work-img {
    display: block;
  }

  .overlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(73, 73, 73, .8);
  }


}


@media only screen and (min-width: 992px) {
  .full-hover, .global-hover  {
    margin: 0 4px;
    display: block;
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }

  .hide-img {
    display: block;
  }
}


@media only screen and (min-width: 1200px) {
  .full-hover, .global-hover  {
    margin: 0 10px;
  }
}
/* ==========================================================================
  IMAGES styles
   ========================================================================== */
.work-images, .mobile-work-images {
  margin: 20px 0;
}

.desk-work-images {
  display: none;
}

.desk-work-images-v2 {
  display: none;
}

.video-holder, .employ-holder, .story-img-holder, .readmore-holder, .hands-holder, .freelance-holder {
  margin-top: 30px;
}

.video-responsive {
  display: block;
  width: 100%;
  height: 315px;
}

.mobile-descript p, .mobile-descript h2 {
  margin: 0;
}

.error-img {
  margin: auto;
}

@media only screen and (min-width: 768px) {

  .error-img {
    background: #fff;
    padding: 27px 0;
    margin: 0;
  }

  .mobile-descript {
    display: none;
  }
  .work-images {
  display: block;
  }

  .desk-work-images, .mobile-work-images {
    display: none;
  }


  .employ-holder{
    margin-top: 89px;
  }

  .hands-holder {
    margin-top: 144px;
  }

  .readmore-holder {
    margin-top: 86px;
  }

  .story-img-holder {
    margin-top: 213px;
  }

  .video-holder {
    margin-top: 35px;
  }

  .freelance-holder {
    margin-top: 111px;
  }

}

@media only screen and (min-width: 992px) {

  .video-holder, .readmore-holder, .hands-holder {
    margin-top: 54px;
  }

  .freelance-holder {
    margin-top: 85px;
  }

  .story-img-holder {
    margin-top: 182px;
  }

  .employ-holder {
    margin-top: 34px;
  }

  .desk-img-holder {
    margin-top: 100px;
  }

  .work-images {
  display: none;
  }

  .desk-work-images {
    /*display: inline-block;*/
    display: block;
    margin: 0;
    float: right;
    padding: 0 1px;
  }

  .desk-work-images-v2 {
    display: inline-block;;
    margin: 0;
    padding: 0;
  }

  .full-hover {
    transition: all 0.3s;
  }

  .desk-img-holder .full-hover {
    width:200px;
  }

  .full-hover:hover {
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
    transform: scale(1.07);

  }

}

@media only screen and (min-width: 1200px) {

  .video-holder{
    margin-top: 40px;
  }

   .freelance-holder {
    margin-top: 36px;
   }

  .hands-holder  {
    margin-top: 83px;
  }

  .employ-holder {
    margin-top: 39px;
  }

  .story-img-holder {
    margin-top: 168px;
  }

  .readmore-holder {
    margin-top: 42px;
  }

  .desk-work-images {
    padding: 0 10px;
  }

  .desk-work-images-v2 {
      padding: 0 10px;
  }
}





/* ==========================================================================
  BOTTOM FORM AND CALL/QUOTE styles
   ========================================================================== */

 /*Uppercase form placeholders*/
 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   text-transform: uppercase;
 }
 ::-moz-placeholder { /* Firefox 19+ */
 text-transform: uppercase;
 }
 :-ms-input-placeholder { /* IE 10+ */
   text-transform: uppercase;
 }
 :-moz-placeholder { /* Firefox 18- */
   text-transform: uppercase;
 }

.input-container {
  margin-bottom: 15px;
}

.input-container input[type="text"], .input-container input[type="email"] {
    margin: 0;
    padding: 4px 10px;
    color: #000000;
    border: 1px solid #c3c3c3;
    background-color: #ffffff;
  }

  .input-container textarea {
    border: 1px solid #c3c3c3;
    background-color: #ffffff;
    color: #000000;
    padding:4px 10px;
    resize: none;
    text-transform: none;
  }

  .input-container input[disabled], .input-container input[disabled]:hover {
    background:#ddd;
    color:#fff;
    cursor: default;
  }

.form-box {
  width: 100%;
  padding: 4px 10px;
  resize:none;
  border:1px solid #c3c3c3;
}

textarea.form-box::-webkit-input-placeholder {
  text-transform: none;
}

.form-button {
  width: 100%;
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 0;
  text-decoration: none;
  background-color: #494949;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 1px solid #494949;
}

.form-button:hover {
  background-color: #ffffff;
  color: #494949;
  border: 1px solid #494949;
}
.free-poster-container {
  margin-top: 20px;
}

.free-poster-container a:hover {
  margin-top: 20px;
  color: #10255b;
  text-decoration: underline;
}

.free-poster {
  text-decoration: underline;
  font-size: 20px;
  color: #3397b9;
  text-transform: uppercase;
}

input[type=checkbox] {
    display: none;
}
.label-checkbox {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 41px;

}

.label-checkbox::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 1px;
    background-color: #fff;
    border: 1px solid #3397b9;
  }

  .free-poster-container input[type=checkbox]:checked + label:before {
    content: "x";
    font-family: Arial;
    color: #55565a;
    font-size: 24px;
    text-align: center;
    line-height: 17px;
    color: #3397b9;
  }

  .info-icon {
    position: relative;
    top: -3px;
  }

@media only screen and (min-width: 768px) {

  .form-btn-chbx > div:nth-child(2) {
    padding-left: 0;
    padding-right: 15px;
  }
}

  .call-quote-spacing {
    margin-top: 50px;
  }

  .quote-btn {
    text-transform: uppercase;
    margin-top: 25px;
  }

@media only screen and (min-width: 768px) {

  .input-container {
    padding-top: 8px;
  }

  .call-quote-container {
    padding-left: 46px;
    margin: 0 0 0 0;

  }
  .call-quote-header {
    margin: 0 0 5px 0;
  }

  .form-button {
    width: 166px;
    display: block;
    font-size: 15px;
    padding: 10px 0;
  }

  .free-poster-container {
    margin-top: 0;
    float: right;
  }

  .free-poster {
    font-size: 10px;

  }

  .quote-btn {
    position: relative;
    top: 34px;
    margin-top: 0;
  }

  .call-quote-spacing {
    margin-top: 0;
  }

  .label-checkbox {

      padding-left: 30px;

  }

  .label-checkbox::before {

      width: 21px;
      height: 21px;

    }


    input[type=checkbox]:checked + label:before {
      line-height: 18px;
    }

}


@media only screen and (min-width: 992px) {

  .call-quote-spacing {
    padding-left: 38px;
  }

  .free-poster {
    font-size: 15px;

  }
}

@media only screen and (min-width: 1200px) {

  .call-quote-spacing {
    padding-left: 121px;
  }

}


/* ==========================================================================
ABOUT PAGE styles
   ========================================================================== */

.desk-white-images {
  display: inline-block;
  padding: 20px 20px 20px 20px;
}
  .desk-white-images .img-container {
    height:128px;
  }
  .desk-white-images span {
    display:block;
    font-weight:bold;
    text-transform:uppercase;
    color:#494949;
    margin-top:15px;
  }

.white-bkg-images, .white-bkg-single {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .desk-white-images {
    padding: 20px 20px 20px 20px;
  }

  .white-bkg-images {
    background-color: #ffffff;
    padding-left: 43px;
    margin: 14px 0 0 0;
    padding-right: 134px;
  }

}


@media only screen and (min-width: 992px) {
  .white-bkg-images {
    margin: 120px 0 0 0;
    padding: 30px 0;
    background-color: #ffffff;
  }

  .multimedia-img {
    padding-top: 23px;
  }

  .language-img {
    padding-top: 22px;
  }

  .desk-white-images {

      display: block;
      margin: 0;
      float: right;
      padding: 0 0 20px 20px;


  }

}


@media only screen and (min-width: 1200px) {

  .desk-white-images {
      padding: 0 20px 20px 20px;
  }
}

/* ==========================================================================
QUOTE PAGE styles
   ========================================================================== */

.quote-intro-container {

  padding-bottom: 20px;
  font-size: 16px;
}
.panel input {
  width: 100%;
  margin: 5px 0;
}

#quote-form input[disabled], #quote-form input[disabled]:hover {
  background:#ddd;
  color:#fff;
  cursor:default;
  border:1px solid #ddd;
}

#quote-form input[type="submit"].submitting {
  background-color:#494949;
  background-image:url('../assets/images/spinner.gif');
  background-size:20px 20px;
  background-repeat:no-repeat;
  background-position:90% center;
}
  #quote-form input[type="submit"].submitting:hover {
    background-color:#fff
  }

.accordian-holder {
  padding-bottom: 75px;
}

button.accordion {
  background-color: #FFFFFF;
  color: #494949;
  cursor: pointer;
  padding: 5px 10px;
  width: 100%;
  border: 1px solid #ccc;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
  background-color: #494949;
  color: #ffffff;
}

button.accordion:after {
  content: '\002B';
  color: #494949;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
  button.accordion:hover:after {
    color:#fff;
  }

button.accordion.active:after {
  content: "\2212";
  color: #ffffff;
}

.accordian-btn-spacer {
  margin: 5px 0;
}

div.panel {
  padding:0 18px;
  background-color: #f3f3f3;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
  button.accordion.active + .panel {
    max-height:100%!important;
  }

.panel .row {
  padding-bottom:20px;
}
  .panel .row:first-child {
    padding-top:20px;
  }

.panel .col-sm-12 p {
  margin:0;
}

.panel input[type="text"], .panel input[type="email"] {
  margin:  0;
  padding: 4px 10px;
  color: #000000;
  border: 1px solid #c3c3c3;
  background-color:  #ffffff;
}

.panel input[type="date"] {
  margin:  0;
  padding: 4px 10px;
  color: #000000;
  border: 1px solid #c3c3c3;
  background-color:  #ffffff;
}

.panel input.error {
  border:1px solid red;
}
.panel .form-error {
  color:red;
  display:none;
}
  .panel input.error + .form-error {
    display:block;
  }

.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-inline::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 1px;
  background-color: #ffffff;
  border: 1px solid #c3c3c3;
}

.checkbox-label {
  position: relative;
  top: 1px;
}

.checkbox-holder input[type=checkbox]:checked + label:before {
  content: "x";
  font-family: Arial;
  color: #55565a;
  font-size: 24px;
  text-align: center;
  line-height: 16px;
}

.tiny-label {
  font-size: 12px;
}

.form-margin {
  margin: 16px 0;
}

.buffer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottom-buffer {
  margin-bottom: 10px;
}

.bottom-buffer-two {
  margin-bottom: 20px;
}

.bottom-buffer-three {
  margin-bottom: 50px;
}
.mobile-buffer, .work-buffer {
  margin-bottom: 10px;
}

.row.attachment-container {
  display:none;
}
#attachment-list {
  border:1px dashed #c3c3c3;
  padding:5px 10px;
}
  #attachment-list > div {
    margin-top:10px;
  }
    #attachment-list > div:first-child {
      margin-top:0;
    }

.uploadBtn, .resetBtn {
  color: #ffffff;
  display: block;
  font-size: 14px;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  letter-spacing: 0.2em;
  background-color: #494949;
  cursor: pointer;
}
  .resetBtn {
    display:none;
  }

.thank-you {
  display:none;
  padding:100px 0;
}

@media only screen and (min-width: 768px) {

  .form-margin {
    margin: 0 0;
  }

  .quote-intro-container {
    padding: 75px 0 75px 0;

  }

  .quote-form-container {
      padding: 50px 10px 20px 0;
  }

  .mobile-buffer {
    margin-bottom: 0;
  }

  .work-buffer {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media only screen and (min-width: 992px) {
  .quote-intro-container {
    padding: 75px 25px 75px 50px;
  }

  .quote-form-container {
    padding: 50px 10px 20px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .quote-intro-container {
    padding: 75px 25px 75px 120px;
  }

  .quote-form-container {
    padding: 75px 10px 20px 0;
  }
}

/* ==========================================================================
ABOUT PAGE styles
   ========================================================================== */

#case-studies .row {
  margin-top:30px;
}
  #case-studies .row:first-child {
    margin-top:0;
  }

@media only screen and (min-width: 768px) {
  #case-studies-intro {
    margin-top:150px;
  }
}


@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {

}

/* ==========================================================================
SELECT2 styles
   ========================================================================== */
.select2-container--default .select2-selection--single {
  border: 1px solid #c3c3c3;
}
.select2-selection__rendered {
  line-height: 28px !important;
}
.select2-selection {
  height: 30px !important;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #757575;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  border-left: 1px solid #c3c3c3;
  height:28px;
}

/* ==========================================================================
SERVICES PAGE styles
   ========================================================================== */
.language-holder, .multimedia-holder {
  display: inline-block;
}

.language-container {
  padding: 0 0 20px 0;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .language-container {
    padding: 50px 25px 50px 0;
    font-size: 16px;
  }

.language-holder {
  position: relative;
  top: 100px;
  left: 32px;
  }

.multimedia-holder {
  position: relative;
  top: 100px;
  left: -55px;
  }
}

@media only screen and (min-width: 992px) {

  .language-holder {
    left: -47px;
    }

  .multimedia-holder {
    left: 18px
  }
}

@media only screen and (min-width: 1200px) {

  .language-holder {
    left: -10px;
    }

  .multimedia-holder {
    left: 38px;
  }
}

@media only screen and (min-width: 1400px) {

  .language-holder {
    left: -81px;
    }

    .multimedia-holder {
      left: 101px;
    }
}

@media only screen and (min-width: 1600px) {

  .multimedia-holder {
    left: 158px;
    }
    .language-holder {
      left: -140px;
      }
}

@media only screen and (min-width: 1800px) {

  .language-holder {
    left: -35px;
    }

  .multimedia-holder {
    left: 50px;
    }
}

@media only screen and (min-width: 2000px) {

  .language-holder {
    left: -80px;
    }

  .multimedia-holder {
    left:52px;
    }
}

@media only screen and (min-width: 2400px) {

  .language-holder {
    left: -140px;
    }

  .multimedia-holder {
    left: 114px;
    }
}


/* ==========================================================================
WORK PAGE styles
   ========================================================================== */

.mobile-buffer-two {
  margin-bottom: 0;
}
.logo-container {
  text-align: center;
  padding: 30px 0;
}

.logo-container img {
  padding: 10px 0;
}



@media only screen and (min-width: 768px) {

  .portfolio-container .row:first-child {
    margin-bottom: 30px;
  }
  .logo-container img {
    padding: 0 0;
  }

  .logo-container .row {
    padding: 20px 0;
  }

  .portfolio-container {
    margin: 150px 0 70px 0;
  }

}

/* ==========================================================================
CASE STUDIES  styles
   ========================================================================== */
.case-study-container {
  margin:40px 0;
  font-size:16px;
}
  .case-study-container p {
    margin-top:0;
  }
  .case-study-container h3 {
    margin:0;
  }

/* ==========================================================================
STAFF BIO  styles
   ========================================================================== */
.staff-header {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.staff-title {
  font-size: 16px;
  margin: 0;
}

.postmetadata {
  font-size: 16px;
  margin: 0;
}

.staff-image-holder {
  text-align: center;
}
  .staff-image-holder img {
    width:100%;
  }

.staff-container {
  margin: 30px 0 30px 0;
  font-size: 16px;
}
  .staff-container h3 {
    margin-top:0;
  }



@media only screen and (min-width: 768px) {

  .single-style {
    margin-top: 100px;
  }
  .staff-container {
    margin: 30px 0 30px 0;
    font-size: 16px;
    min-height: 200px;
  }
  .hide-column {
    display: none;
  }
 .staff-img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
  .side-bar {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .staff-img-responsive {
     display: block;
     max-width: 100%;
     height: auto;
   }
}

/* ==========================================================================
OUR WORK styles
   ========================================================================== */
.ourwork-title {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.ourwork-body-text {
  margin-top: 0;
}

.image-max {
  width: 100%;
  margin-bottom: 15px;
}

/* ==========================================================================
Internal page  styles
   ========================================================================== */

@media only screen and (min-width: 768px) {
.internal-padding {
  padding-top: 25px;
}

}

/* ==========================================================================
ANIMATED LINES  styles
   ========================================================================== */
.animate-element {
  position: absolute;
  background: transparent;
  width: 0px;
  height: 0px;
  opacity: 0;
}

@media only screen and (min-width: 768px) {

  .l1,.l2, .staff-l1, .staff-l2 {
    margin-left: 33.35%;
  }

  .l3,.l4,.l5 {
    margin-right: 33.35%;
  }

  .l6,.l7,.l8 {

    margin-left: 33.35%;
  }

  .logo-l1, .logo-l2, .logo-l3 {
    margin-right: 7%;
  }
  .blue-line {
    background-color: #3397b9;
  }

  .orange-line {
    background-color: #d95936;
  }

  .black-line {
    background-color: #494949;
  }

  .l1.in-view, .staff-l1.in-view {
    top: 0;
    left: 0;
    width: 1px;
    -webkit-animation: box1 1s linear 0.5s forwards;
    -moz-animation: box1 1s linear 0.5s forwards;
    -o-animation: box1 1s linear 0.5s forwards;
    animation: box1 1s linear 0.5s forwards;
  }

  .l2.in-view, .staff-l2.in-view  {
    bottom: 0;
    left: 0;
    height: 1px;
    -webkit-animation: box2 1s linear 1.5s forwards;
    -moz-animation: box2 1s linear 1.5s forwards;
    -o-animation: box2 1s linear 1.5s forwards;
    animation: box2 1s linear 1.5s forwards;
  }

  .l3.in-view {
    top: 0;
    left: 0;
    height: 1px;
    -webkit-animation: box3 1s linear 0.5s forwards;
    -moz-animation: box3 1s linear 0.5s forwards;
    -o-animation: box3 1s linear 0.5s forwards;
    animation:  box3 1s linear 0.5s forwards;
  }

  .l4.in-view {
    top: 0;
    right: 0;
    width: 1px;
    -webkit-animation: box4 1s linear 1.5s forwards;
    -moz-animation: box4 1s linear 1.5s forwards;
    -o-animation: box4 1s linear 1.5s forwards;
    animation: box4 1s linear 1.5s forwards;
  }

  .l5.in-view {
    bottom: 0;
    right: 0;
    height: 1px;
    -webkit-animation: box3 1s linear 2.5s forwards;
    -moz-animation: box3 1s linear 2.5s forwards;
    -o-animation: box3 1s linear 2.5s forwards;
    animation: box3 1s linear 2.5s forwards;
  }

  .l6.in-view {
    top: 0;
    left: 0;
    width: 1px;
    -webkit-animation: box1 1s linear 1.5s forwards;
    -moz-animation: box1 1s linear 1.5s forwards;
    -o-animation: box1 1s linear 1.5s forwards;
    animation: box1 1s linear 1.5s forwards;
  }


  .l7.in-view {
    bottom: 0;
    left: 0;
    height: 1px;
    -webkit-animation: box2 1s linear 2.5s forwards;
    -moz-animation: box2 1s linear 2.5s forwards;
    -o-animation: box2 1s linear 2.5s forwards;
    animation: box2 1s linear 2.5s forwards;
  }

  .l8.in-view {
    top: 0;
    right: 0;
    height: 1px;
    -webkit-animation: box3 1s linear 0.5s forwards;
    -moz-animation: box3 1s linear 0.5s forwards;
    -o-animation: box3 1s linear 0.5s forwards;
    animation: box3 1s linear 0.5s forwards;
  }
}





@-webkit-keyframes box1 {
  0% {
    height: 0;
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@-moz-keyframes box1 {
  0% {
    height: 0;
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@-o-keyframes box1 {
  0% {
    height: 0;
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@keyframes box1 {
  0% {
    height: 0;
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}


@-webkit-keyframes box2 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@-moz-keyframes box2 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@-o-keyframes box2 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes box2 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes box3 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 66.65%;
    opacity: 1;
  }
}

@-moz-keyframes box3 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 66.65%;
    opacity: 1;
  }
}

@-o-keyframes box3 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 66.65%;
    opacity: 1;
  }
}

@keyframes box3 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 66.65%;
    opacity: 1;
  }
}



@-webkit-keyframes box4 {
  0% {
    height: 0;
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@-moz-keyframes box4 {
  0% {
    height: 0;
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@-o-keyframes box4 {
  0% {
    height: 0;
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@keyframes box4 {
  0% {
    height: 0;
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes box5 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 75%;
    opacity: 1;
  }
}

@-moz-keyframes box5 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 75%;
    opacity: 1;
  }
}

@-o-keyframes box5 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 75%;
    opacity: 1;
  }
}

@keyframes box5 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 75%;
    opacity: 1;
  }
}

@-webkit-keyframes box6 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 66.65%;
    opacity: 1;
  }
}

@-moz-keyframes box6 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 66.65%;
    opacity: 1;
  }
}

@-o-keyframes box6 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 66.65%;
    opacity: 1;
  }
}

@keyframes box6 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 66.65%;
    opacity: 1;
  }
}

@-webkit-keyframes box7 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 93%;
    opacity: 1;
  }
}

@-moz-keyframes box7 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 93%;
    opacity: 1;
  }
}

@-o-keyframes box7 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 93%;
    opacity: 1;
  }
}


@keyframes box7 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 93%;
    opacity: 1;
  }
}

@-webkit-keyframes box8 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@-moz-keyframes box8 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@-o-keyframes box8 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes box8 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes box9 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 73%;
    opacity: 1;
  }
}

@-moz-keyframes box9 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 73%;
    opacity: 1;
  }
}

@-o-keyframes box9 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 73%;
    opacity: 1;
  }
}

@keyframes box9 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 73%;
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
    .logo-l1.in-view {
      top: 0;
      left: 0;
      height: 1px;
      -webkit-animation: box7 1s linear 0.5s forwards;
      -moz-animation: box7 1s linear 0.5s forwards;
      -o-animation: box7 1s linear 0.5s forwards;
      animation:  box7 1s linear 0.5s forwards;
    }

    .logo-l2.in-view {
      top: 0;
      right: 0;
      width: 1px;
      -webkit-animation: box4 1s linear 1.5s forwards;
      -moz-animation: box4 1s linear 1.5s forwards;
      -o-animation: box4 1s linear 1.5s forwards;
      animation: box4 1s linear 1.5s forwards;
    }

    .logo-l3.in-view {
      bottom: 0;
      right: 0;
      height: 1px;
      -webkit-animation: box2 1s linear 2.5s forwards;
      -moz-animation: box2 1s linear 2.5s forwards;
      -o-animation: box2 1s linear 2.5s forwards;
      animation: box2 1s linear 2.5s forwards;
    }
  }

@media only screen and (min-width: 992px) {

  .l1, .l2, .staff-l1, .staff-l2, .l6, .l7, .l8  {
    margin-left: 25%;
  }

  .logo-l1, .logo-l2, .logo-l3{
    margin-right: 27%;
  }

  .l3, .l4, .l5 {
    margin-right: 25%;
  }

  .l3.in-view {
    top: 0;
    left: 0;
    height: 1px;
    -webkit-animation: box5 1s linear 0.5s forwards;
    -moz-animation: box5 1s linear 0.5s forwards;
    -o-animation: box5 1s linear 0.5s forwards;
    animation:  box5 1s linear 0.5s forwards;
  }

  .l4.in-view {
    top: 0;
    right: 0;
    width: 1px;
    -webkit-animation: box1 1s linear 1.5s forwards;
    -moz-animation: box1 1s linear 1.5s forwards;
    -o-animation: box1 1s linear 1.5s forwards;
    animation: box1 1s linear 1.5s forwards;
  }

  .l5.in-view {
    bottom: 0;
    right: 0;
    height: 1px;
    -webkit-animation: box5 1s linear 2.5s forwards;
    -moz-animation: box5 1s linear 2.5s forwards;
    -o-animation: box5 1s linear 2.5s forwards;
    animation: box5 1s linear 2.5s forwards;
  }

  .l6.in-view {
    top: 0;
    left: 0;
    width: 1px;
    -webkit-animation: box4 1s linear 1.5s forwards;
    -moz-animation: box4 1s linear 1.5s forwards;
    -o-animation: box4 1s linear 1.5s forwards;
    animation: box4 1s linear 1.5s forwards;
  }


  .l7.in-view {
    bottom: 0;
    left: 0;
    height: 1px;
    -webkit-animation: box8 1s linear 2.5s forwards;
    -moz-animation: box8 1s linear 2.5s forwards;
    -o-animation: box8 1s linear 2.5s forwards;
    animation: box8 1s linear 2.5s forwards;
  }

  .l8.in-view {
    top: 0;
    right: 0;
    height: 1px;
    -webkit-animation: box5 1s linear 0.5s forwards;
    -moz-animation: box5 1s linear 0.5s forwards;
    -o-animation: box5 1s linear 0.5s forwards;
    animation: box5 1s linear 0.5s forwards;
  }


  .logo-l1.in-view {
    top: 0;
    left: 0;
    height: 1px;
    -webkit-animation: box9 1s linear 0.5s forwards;
    -moz-animation: box9 1s linear 0.5s forwards;
    -o-animation: box9 1s linear 0.5s forwards;
    animation:  box9 1s linear 0.5s forwards;
  }

  .logo-l2.in-view {
    top: 0;
    right: 0;
    width: 1px;
    -webkit-animation: box1 1s linear 1.5s forwards;
    -moz-animation: box1 1s linear 1.5s forwards;
    -o-animation: box1 1s linear 1.5s forwards;
    animation: box1 1s linear 1.5s forwards;
  }

  .logo-l3.in-view {
    bottom: 0;
    right: 0;
    height: 1px;
    -webkit-animation: box8 1s linear 2.5s forwards;
    -moz-animation: box8 1s linear 2.5s forwards;
    -o-animation: box8 1s linear 2.5s forwards;
    animation: box8 1s linear 2.5s forwards;
  }




}

  @media only screen and (min-width: 1800px) {
    .staff-l1, .staff-l2 {
        margin-left: 33.35%;
    }

    .l1,.l2, .staff-l1, .staff-l2, .l6,.l7,.l8  {
      margin-left: 33.35%;
    }

    .l3,.l4,.l5 {
        margin-right: 33.35%;
      }

      .l3.in-view {
        top: 0;
        left: 0;
        height: 1px;
        -webkit-animation: box6 1s linear 0.5s forwards;
        -moz-animation: box6 1s linear 0.5s forwards;
        -o-animation: box6 1s linear 0.5s forwards;
        animation:  box6 1s linear 0.5s forwards;
      }

      .l4.in-view {
        top: 0;
        right: 0;
        width: 1px;
        -webkit-animation: box4 1s linear 1.5s forwards;
        -moz-animation: box4 1s linear 1.5s forwards;
        -o-animation: box4 1s linear 1.5s forwards;
        animation: box4 1s linear 1.5s forwards;
      }

      .l5.in-view {
        bottom: 0;
        right: 0;
        height: 1px;
        -webkit-animation: box6 1s linear 2.5s forwards;
        -moz-animation: box6 1s linear 2.5s forwards;
        -o-animation: box6 1s linear 2.5s forwards;
        animation: box6 1s linear 2.5s forwards;
      }

      .l6.in-view {
        top: 0;
        left: 0;
        width: 1px;
        -webkit-animation: box1 1s linear 1.5s forwards;
        -moz-animation: box1 1s linear 1.5s forwards;
        -o-animation: box1 1s linear 1.5s forwards;
        animation: box1 1s linear 1.5s forwards;
      }


      .l7.in-view {
        bottom: 0;
        left: 0;
        height: 1px;
        -webkit-animation: box2 1s linear 2.5s forwards;
        -moz-animation: box2 1s linear 2.5s forwards;
        -o-animation: box2 1s linear 2.5s forwards;
        animation: box2 1s linear 2.5s forwards;
      }

      .l8.in-view {
        top: 0;
        right: 0;
        height: 1px;
        -webkit-animation: box6 1s linear 0.5s forwards;
        -moz-animation: box6 1s linear 0.5s forwards;
        -o-animation: box6 1s linear 0.5s forwards;
        animation: box6 1s linear 0.5s forwards;
      }


  }
